<div class="bg-[#58A4B0] py-4 px-6 md:py-7 md:px-10 lg:px-0">
    <div class="lg:container lg:mx-auto flex items-center justify-between">
        <h1 class="font-Montserrat font-bold text-xl text-white md:text-3xl xl:text-4xl">
            <span class="text-[#186E8B]">Tristan</span> Tran
        </h1>

        <!--For tablet and desktop-->
        <div class="text-white hidden lg:flex font-semibold gap-7 items-center lg:text-lg font-OpenSans lg:gap-10">
            <a href="#">About me</a>
            <a href="#">Skills</a>
            <a href="#">Experience</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
        </div>

        <!--For mobile-->
        <div class="lg:hidden">
            <i class="fa-solid fa-bars text-white text-xl" (click)="openNav()"></i>
        </div>
    </div>
</div>

<!--Mobile menu bloc-->
<div class="fixed inset-0 bg-[#186E8B] overflow-x-hidden z-50 transition duration-700 transform text-white"
    [ngClass]="{'translate-x-full': !showNav, 'translate-x-0': showNav}">

    <!-- Button to close the overlay navigation -->
    <a class="absolute top-4 right-8 text-white text-4xl" (click)="closeNav()" (keydown.enter)="closeNav()"
        tabindex="0">&times;</a>

    <!-- Overlay content -->
    <div class="absolute top-1/4 text-xl w-full text-center font-OpenSans transition duration-[800ms] transform"
        [ngClass]="{'translate-y-full': !showNav, 'translate-y-0': showNav}">
        <a href="#" class="block py-2 hover:text-white">About me</a>
        <a href="#" class="block py-2 hover:text-white">Skills</a>
        <a href="#" class="block py-2 hover:text-white">Experience</a>
        <a href="#" class="block py-2 hover:text-white">Projects</a>
        <a href="#" class="block py-2 hover:text-white">Contact</a>
    </div>

    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex gap-5 text-2xl mt-5 pb-10 transition duration-[800ms]"
        [ngClass]="{'translate-y-full': !showNav, 'translate-y-0': showNav}">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-gitlab"></i>
    </div>
</div>