<app-header></app-header>

<!-- Bloc Home -->
<div class="bg-[#58A4B0] pt-5 pb-10 container">
  <div class="flex justify-center">
    <img [src]="assetsUrl" alt="info-guy" class="w-44 h-44" />
  </div>

  <div class="text-center text-white font-OpenSans mt-4">
    <p class="font-bold text-xl">Hello I'm</p>
    <p class="font-Montserrat font-extrabold text-2xl text-white">Tristan Tran</p>
    <p class="font-bold text-xl">
      And I'm a 
      <span id="text" class="text-xl font-bold text-[#186E8B]"></span>
      <span class="text-[#186E8B]" id="console">&#95;</span>
    </p>
  </div>

  <div class="flex justify-center mt-3 mb-5">
    <p class="text-center text-white w-56">
      I'm a junior web developer still studying, whose aim is to create useful, 
      high-quality applications and websites for users.
    </p>
  </div>

  <div class="flex justify-center text-[#186E8B]">
    <button class="rounded-full border border-[#186E8B] py-1 px-6">
      Download CV
    </button>
  </div>
</div>

<!-- Bloc About Me -->
<div class="px-10 py-8 container">
  <h2 class="text-xl font-Montserrat text-[#186E8B] font-bold" >About me.</h2>
  <div class="flex justify-center my-10">
    <div class="relative inline-block">
      <div class="absolute inset-0 bg-[#58A4B0] w-36 h-full translate-x-4 translate-y-4"></div>
      <img src="../assets/moi.jpeg" class="relative w-36 h-auto" alt="moi" />
    </div>
  </div>
  <p class="text-center text-lg font-semibold text-[#186E8B] font-OpenSans">
    Hi, I'm Tristan Tran, a web development student. 
    I'm currently in my first year of an MBA in full-stack development.
  </p>
  <p class="mt-6 mb-3 text-sm font-light text-[#186E8B]">
    I started working in web development at the end of high school after graduating from high school. 
    I've been in this field for over 3 years now.
  </p>
  <p class="mb-3 text-sm font-light text-[#186E8B]">
    During these 3 years, when I had the immense privilege of being able to study on a sandwich course throughout my career, 
    I obtained the following degrees :
  </p>
  <ul class="list-disc mb-3 text-sm font-light text-[#186E8B] ml-4">
    <li>BTS SIO  ( Bac + 2 )</li>
    <li>Bachelor Concepteur Développeur D’applications  ( Bac + 3 )</li>
  </ul>
  <p class="text-sm font-light text-[#186E8B]">
    My skills don't stop at development, I also do web design and SEO. 
    When I'm not watching code, I watch movies, practice or watch sports, 
    and play video games.
  </p>
</div>

<!-- Bloc Skills -->
<div class="px-10 py-8 container bg-[#58A4B0]">
  <h2 class="text-xl font-Montserrat text-white font-bold" >Skills.</h2>
  <div class="flex flex-wrap gap-6 justify-center my-8">
    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/html5.png" class="w-12 h-12 mt-2" alt="html" />
        <p class="text-center text-xs mt-2 mb-1">HTML</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/css3.svg" class="w-12 h-12 mt-2" alt="css" />
        <p class="text-center text-xs mt-2 mb-1">CSS</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/js.webp" class="w-12 h-12 mt-2" alt="js" />
        <p class="text-center text-xs mt-2 mb-1">Javascript</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/angular.png" class="w-12 h-12 mt-2" alt="angular" />
        <p class="text-center text-xs mt-2 mb-1">Angular</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/react.png" class="w-10 h-auto mt-2" alt="react" />
        <p class="text-center text-xs mt-2 mb-1">React</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/tailwind.png" class="w-14 h-auto mt-4 mx-auto" alt="tailwind" />
        <p class="text-center text-xs mt-3">TailwindCSS</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/NestJS.svg" class="w-12 h-12 mt-2" alt="Nest" />
        <p class="text-center text-xs mt-2 mb-1">NestJS</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/mysql.svg" class="w-12 h-12 mt-2" alt="mysql" />
        <p class="text-center text-xs mt-2 mb-1">MySQL</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/ror.png" class="w-16 h-auto mt-4" alt="ror" />
        <p class="text-center text-xs mt-4 mb-3">RubyOnRails</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/node.png" class="w-16 h-auto mt-6" alt="node" />
        <p class="text-center text-xs mt-4">NodeJS</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/docker.png" class="w-20 h-auto mt-6" alt="docker" />
        <p class="text-center text-xs mt-4">Docker</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/git.png" class="w-12 h-12 mt-2" alt="git" />
        <p class="text-center text-xs mt-2 mb-1">Git</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/figma.svg" class="w-12 h-12 mt-2" alt="figma" />
        <p class="text-center text-xs mt-2 mb-1">Figma</p>
      </div>
    </div>

    <div class="bg-white rounded-xl flex justify-center p-1 w-24 drop-shadow-md">
      <div>
        <img src="../assets/gitlab.png" class="w-12 h-12 mt-2" alt="gitlab" />
        <p class="text-center text-xs mt-2 mb-1">Gitlab</p>
      </div>
    </div>
  </div>
</div>

<!-- Bloc Experience -->
<div class="py-8">
  <h2 class="text-xl font-Montserrat text-[#186E8B] font-bold px-10" >Experience.</h2>
  <div class="flex justify-center my-8">
    <div>
      <div class="flex gap-6 items-start">
        <div>
          <div class="bg-[#186E8B] rounded-full py-4 px-5 mt-6">
            <i class="fa-solid fa-briefcase text-xl text-white"></i>
          </div>
          <div class="flex justify-center h-[15rem]">
            <div class="bg-[#186E8B] w-1"></div>
          </div>
        </div>

        <div class="w-52">
          <p class="font-Montserrat font-light text-sm text-center mb-2">September 2021 - July 2023</p>
          <div class="relative bg-[#58A4B0] text-white py-2 px-4 rounded-md">
            <div class="absolute -left-2.5 top-4 w-0 h-0 border-t-[10px] border-t-transparent border-b-[10px] border-b-transparent border-r-[10px] border-r-[#58A4B0]"></div>
            <p class="text-lg font-semibold">Sandwich Course</p>
            <p class="text-sm font-semibold">Arcatem - BTS SIO</p>
            <p class="text-xs mt-2">
              During my BTS, I worked as a service provider for BNP PARIBAS. 
              I was a member of the User Access Security administration team and assistant full-stack developer 
              on an enterprise web application project for firewall and flow management.
            </p>
          </div>          
        </div>
      </div>

      <div class="flex gap-6 items-start -mt-5">
        <div>
          <div class="bg-[#186E8B] rounded-full py-4 px-5 mt-5">
            <i class="fa-solid fa-briefcase text-xl text-white"></i>
          </div>
          <div class="flex justify-center h-[19rem]">
            <div class="bg-[#186E8B] w-1"></div>
          </div>
        </div>

        <div class="w-52">
          <p class="font-Montserrat font-light text-xs text-center mb-2">September 2023 - August 2024</p>
          <div class="relative bg-[#58A4B0] text-white py-2 px-4 rounded-md">
            <div class="absolute -left-2.5 top-4 w-0 h-0 border-t-[10px] border-t-transparent border-b-[10px] border-b-transparent border-r-[10px] border-r-[#58A4B0]"></div>
            <p class="text-lg font-semibold">Sandwich Course</p>
            <p class="text-sm font-semibold">SeniorMedia - Bachelor</p>
            <p class="text-xs mt-2">
              During my Bachelor, I worked as a Work-study full stack developer. 
              I designed and integrated new pages on the company's web applications. 
              I also developed new functionalities on the company's web applications, 
              took part in the maintenance and development of new functionalities on the company's CRM and was able to work on SEO management.
            </p>
          </div>
        </div>
      </div>

      <div class="flex gap-6 items-start -mt-5">
        <div>
          <div class="bg-[#186E8B] rounded-full py-4 px-5 mt-5">
            <i class="fa-solid fa-briefcase text-xl text-white"></i>
          </div>
          <div class="flex justify-center h-[5rem]">
            <div class="bg-[#186E8B] w-1"></div>
          </div>
        </div>

        <div class="w-52">
          <p class="font-Montserrat font-light text-sm text-center mb-2">September 2024 - Present</p>
          <div class="relative bg-[#58A4B0] text-white py-2 px-4 rounded-md">
            <div class="absolute -left-2.5 top-4 w-0 h-0 border-t-[10px] border-t-transparent border-b-[10px] border-b-transparent border-r-[10px] border-r-[#58A4B0]"></div>
            <p class="text-lg font-semibold">Sandwich Course</p>
            <p class="text-sm font-semibold">WeLoveCustomer - MBA</p>
            <p class="text-xs mt-2">
              I'm currently doing a work-study program at WeLoveCustomer, working as a full-stack developer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bloc Projects -->
<div class="px-10 py-8 container bg-[#58A4B0]">
  <h2 class="text-xl font-Montserrat text-white font-bold" >Projects.</h2>
</div>

<!-- Bloc Contact -->
<div class="px-10 py-8 container">
  <h2 class="text-xl font-Montserrat text-[#186E8B] font-bold" >Contact.</h2>
</div>

<app-footer></app-footer>